body{
    font-family: 'Roboto', sans-serif;
    margin: 3px;
}
h1{
    font-size: 40px;
    font-weight: 700;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, orangered, orange);
    color:aliceblue;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
}
.orange-color{
    color: rgba(255, 166, 0, 0.842);
}
.flexible-container{
    display: flex;
    padding: 50px 40px 100px 50px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.about-me{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
} 
.about-me img{
    height: 580px;
    width: auto;
}
.centered{
    text-align: center;
}
.my-recipes{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
}
.recipe-item{
    box-shadow: 10px 10px 30px rgb(168, 167, 167);
    border-radius: 30px;
    height: 480px; 
    background-color: white; 
    width: 30%;
    float: left;  
    box-sizing: border-box;
    margin-left: 3%;   
    padding-left: 2%;  
  }
.recipe-item img{
    height: 280px;
    width: 350px;
    display:block;
    padding-top: 20px;
    border-radius: 30px;
}
.reviews{
    height: 700px; 
    display: flex;
    padding: 20px;
}
.reviews img{
    border-radius: 20px;
    height: 380px;
    width: 100%;
}

footer{
    background-color: rgb(10, 9, 9);
    height: 200px;
}
footer h2{
    color: gray;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    
}
footer p{
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    color: honeydew;
}